{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Success</h2>
    
    {% if user in watchlist %}
        <p>Congratulations, you have successfully <strong>added</strong> the following auction listing to your watchlist: <strong>{{ listing.title }}</strong></p>
    {% else %}
        <p>Congratulations, you have successfully <strong>removed</strong> the following auction listing from your watchlist: <strong>{{ listing.title }}</strong></p>
    {% endif %}
    
    <a href="{% url 'watchlist' %}">View Watchlist</a>
    <br>
    <a href="{% url 'listing' listing.id %}">Return to the {{ listing.title }} listing</a>
{% endblock %}
