{% extends "registration/layout.html" %}

{% block body %}
    <h2>Select a Course to Delete:</h2>
    
    <form action="{% url 'remove' %}" method="post">
        {% csrf_token %}
            <select class="form-select" name="course_id">
                <option selected disabled>Select course:</option>
                {% for course in courses %}
                    <option value="{{ course.id }}">{{ course.title }}: {{ course.students.count }}/{{ course.capacity }} Enrolled</option>
                {% empty %}
                    <option disabled>Instructor is not teaching any courses.</option>
                {% endfor %}
            </select>
        <input type="submit">
    </form>
{% endblock %}
